@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Playfair+Display:wght@500&family=Roboto:ital,wght@0,300;0,900;1,500&display=swap');

body {
   background: #171717 url('./images/bg.png') repeat -20vw;
   background-size: 50%; 
   font-family: 'Roboto', sans-serif;
   width: 90%;
   margin: 1vw auto;
   color: white;
}
h3 {
    font-family: 'Dancing Script', cursive;
    color: #cca685;
    font-size: 2vw;
    margin: 0;
}
h1 {
    margin: 0.5em 0;
    font-size: 1.8vw;
}
p {
    font-size: 1.1em;
}
h2 {
    font-size: 1.1em;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    width: 100%;
    height: 100%;
}
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center
}

header .logo article{
    width: 16vw;
}

header .navbar {
    flex-basis: 40%;
}
header .navbar nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-size: 1vw;
}

header .intro{
    flex-basis: 63%;
    background-position: top right;
    background-size: 33%;
}
header .intro article {
    margin-left: 4vw;
    font-family: 'Playfair Display', serif;
    font-size: 3.5vw;
}
header .intro-text p {
    margin: 0;
}
header .intro-text a{
    font-size: 1.15vw;
    border: 1px solid #fff;
    padding: 0.8em 1em;
    margin: 0 0 0 1vw;
}
header .intro-image{
    flex-basis: 37%;
}

main {
    width: 85%;
    margin: auto;
}
main .aboutus{
    display: flex;
    margin: 5vw auto;
    justify-content: center;
}
main .about-image {
    flex-basis: 25%;
}
main .about-text {
    flex-basis: 70%;
    color: #000;
    padding-top: 2vw;
    background: #fff url('./images/vg.png') right no-repeat;
    background-size: contain;
    
}
main .about-text p{
    font-size: 1.2vw;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 5%;
}
main .about-text div{
    margin-left: 3vw;
    width: 70%;
}
main .about-text a{
    font-size: 1vw;
    padding: 0.4em 0.6em;
    border: 1px solid #000;
    float: right;
}

.menu p {
    line-height: 1.2vw;
    letter-spacing: 0.05vw;
}
.menu section {
    margin: 3vw auto;
}
.menu-about {
    display: flex;
    align-items: center;
    width: 60%;
    margin: auto;
}
main .menu-about span{
    flex-basis: 45%;
    text-align: center;
}
main .menu-about p{
    flex-basis: 60%;
}
main .appetizer{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
main .appetizer article {
    flex-basis: 30%;
}
main .appetizer article img{
    width: 100%;
}
.appetizer div {
    flex-basis: 35%;
    margin-left: 1.5vw;
}